.root {
	width: 100dvw;
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.toast {
	width: max-content;
	display: flex;
	align-items: center;
	padding: 20px;
	column-gap: 20px;
	border-radius: 4px;
	background: var(--color-secondary-light);
	box-shadow: 0px 0px 8px 0px #00000026;
	transform: translateY(100px);
	transition: transform 0.3s;
}

.text {
	text-wrap: balance;
}

.icon {
	flex-shrink: 0;
}

.toast.show {
	transform: translateY(0);
}
