.button {
	width: max-content;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	border: 1px solid transparent;
	transition:
		color var(--transition-duration),
		background var(--transition-duration),
		border-color var(--transition-duration);
}

.button--default {
	border: none;
	background: transparent;
	color: var(--color-secondary);
}

.button--filled {
	background: var(--color-dark);
	color: var(--color-light);
}

.button--outline {
	background: transparent;
	color: var(--color-dark);
	border: 1px solid var(--color-dark);
}

.button--full-width {
	width: 100%;
}

.button:disabled {
	opacity: 50%;
	cursor: not-allowed;
}

@media (max-width: 1024px) {
	.button {
		padding: 6px 12px;
		font-size: 400;
		font-size: 12px;
		line-height: 20px;
	}
}

@media (hover: hover) {
	.button--default:hover:not(:disabled) {
		color: var(--color-dark);
	}

	.button--filled:hover:not(:disabled) {
		background: var(--color-light);
		color: var(--color-dark);
		border-color: var(--color-dark);
	}

	.button--outline:hover:not(:disabled) {
		background: var(--color-dark);
		color: var(--color-light);
	}
}
