.detail {
	padding-top: 30px;
}

.product__title {
	margin-bottom: 23px;
}

.detail__product {
	display: grid;
	grid-template-columns: 700px 1fr;
	column-gap: 60px;
}

.product__cart {
	display: flex;
	align-items: center;
}

.product__counter {
	display: flex;
	align-items: center;
}
