.container {
	width: 100%;
	max-width: calc(100vw - 32px);
	overflow-x: auto;
}

.table {
	width: 100%;
	/* max-width: max-content; */
	border-collapse: collapse;
	border-spacing: 0;
}

.table tr:nth-child(2n) {
	background: var(--color-secondary-light);
}

.table__th {
	padding-block: 16px;
	text-align: left;
	border-bottom: 1px solid var(--color-dark);
	color: var(--color-dark);
}

.table__td {
	padding-block: 16px;
	text-align: left;
	color: var(--color-secondary);
	white-space: nowrap;
}

.empty {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
}

.empty__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 20px;
}

.table__th--mobile {
	display: none;
}

@media (max-width: 576px) {
	.table__th--desktop {
		display: none;
	}

	.table__th:first-of-type {
		padding-right: 10px;
	}

	.table__th--mobile {
		display: inline-table;
	}

	.table__td {
		font-size: 12px;
		line-height: 20px;
	}
}
