.list {
	display: flex;
	flex-direction: column;
	row-gap: 39px;
}

.sidebar {
	display: none;
}

.sidebar__button {
	position: relative;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	column-gap: 8px;
	color: var(--color-dark);
	background: #ffffff90;
	backdrop-filter: blur(10px);
}

.sidebar__button:last-of-type {
	margin-top: 15px;
}

.sidebar__aside {
	position: fixed;
	inset: 0;
	padding-block: 15px;
	padding-right: 15px;
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	pointer-events: none;
	opacity: 0;
	transition:
		background 0.3s,
		backdrop-filter 0.3s,
		opacity 0.3s;
	z-index: 100;
}

.sidebar__aside--open {
	opacity: 1;
	background: #ffffff50;
	backdrop-filter: blur(10px);
	pointer-events: all;
}

.rotate180 {
	transform: rotate(180deg);
}

.sidebar__close {
	position: fixed;
	top: 20px;
	right: 20px;
	background: transparent;
}

.sidebar__content {
	max-height: 100dvh;
	overflow-y: scroll;
	scrollbar-width: none;
	padding: 16px;
	padding-bottom: 32px;
	position: fixed;
	left: 0;
	bottom: 0;
	background: var(--color-light);
	width: 100dvw;
	border-radius: 16px;
	transform: translateY(100%);
	opacity: 0.5;
	transition:
		transform var(--transition-duration),
		opacity var(--transition-duration);
}

.sidebar__content--open {
	transform: translateY(0);
	opacity: 1;
}

body:has(.sidebar__aside--open) {
	overflow: hidden;
}

@media (max-width: 1024px) {
	.sidebar {
		display: block;
	}

	.sidebar__container {
		position: relative;
	}

	.sidebar__button span {
		transition: width 0.3s;
		overflow: hidden;
	}

	.sidebar--hidden {
		width: 0px;
	}

	.sidebar--open {
		width: 53px;
	}
}
