.catalog {
	padding-top: 30px;
}

.catalog__container {
	position: relative;
}

.catalog__title {
	margin-bottom: 39px;
	position: sticky;
	top: 130px;
	background: var(--color-light);
}

.catalog__filters {
	width: 100%;
	max-width: 261px;
	position: fixed;
	top: 210px;
}

.catalog__products {
	max-width: calc(100% - 291px);
	margin-left: auto;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	gap: 24px;
}

.catalog__alert {
	max-width: calc(100% - 291px);
	margin-left: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 35px;
}

.catalog__text {
	font-size: 16px;
	line-height: 22px;
	color: var(--color-secondary);
	text-align: center;
}

@media (max-width: 1024px) {
	.catalog {
		padding-top: 0;
	}

	.catalog__title {
		/* position: static; */
		top: 88px;
		z-index: 10;
		background: #ffffff90;
		backdrop-filter: blur(10px);
		pointer-events: all;
	}

	.catalog__container {
		display: flex;
		flex-direction: column;
	}

	.catalog__filters {
		display: none;
	}

	.catalog__products {
		max-width: 100%;
		margin: 0;
	}

	.list {
		grid-template-columns: repeat(2, calc(50% - 8px));
		gap: 16px;
	}
}
