.container {
	position: sticky;
	top: 0;
	z-index: 10;
	background: var(--color-light);
}

.header {
	margin-bottom: 17px;
	padding-top: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.isMobile {
	display: none;
}

.top {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 29px;
}

.space {
	flex-grow: 1;
}

@media (min-width: 1024px) {
}

@media (max-width: 1024px) {
	.isDesktop {
		display: none;
	}

	.isMobile {
		display: block;
	}

	.header {
		padding-top: 15px;
	}
}
