.header {
	margin-bottom: 17px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 48px;
}

.isMobile {
	display: none;
}

.top {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 29px;
}

.space {
	flex-grow: 1;
}

@media (min-width: 1024px) {
}

@media (max-width: 1024px) {
	.isDesktop {
		display: none;
	}

	.isMobile {
		display: block;
	}
}
