.main {
	min-height: calc(100dvh - 450px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 40px;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 40px;
}

.profile {
	padding-top: 112px;
}

.profile__title {
	margin-bottom: 70px;
}
