.button {
	position: relative;
	overflow-y: hidden;
	min-height: 53px;
}

.button__text {
	position: absolute;
	inset: auto;
	/* top: 50%; */
	/* left: 50%; */
	transform: translateX(-50%);
	transition: transform var(--transition-duration);
}

/* .button__text--visible {
	transform: translateY(0);
} */
