.label {
	padding: 10px;
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-size: 16px;
	line-height: 22px;
	color: var(--color-secondary);
	cursor: pointer;
}

.checkbox {
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.checkbox:checked {
	accent-color: var(--color-dark);
}

@media (max-width: 576px) {
	.label {
		font-size: 12px;
		line-height: 20px;
	}
}
